<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Event Recommendation Chatbot</title>
</head>
<body>

    <div id="chat-container" class="message-container">
    </div>
    <div id="user-input">
        <input type="text" id="user-message" placeholder="Type a message...">
        <button id="send-button">Send</button>
    </div>

</body>
</html>
